.section-services {
    padding: 50px 0;
}

.services {}

.services__row {
    display: flex;
    align-items: center;
}

.services__row:first-child {
    margin-top: 40px;
}

.services__row:not(:first-child) {
    margin-top: 20px;
}


.services__item_text {
    flex-basis: 50%;
    background-color: $lightBrown;
    padding: 20px 20px;
    border-radius: 10px;
    transform: translateX(25%);
}

.services__text {
    font-weight: 300;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 1.1rem;
}

.services__h3 {
    font-size: 1.8rem;
    line-height: 1.2;
}

.services__item_img {
    flex-basis: 50%;
    img {
    max-height: 400px;
        min-height: 300px;
        object-fit: cover;
    }
}

.services__row_second {
    flex-direction: row-reverse;
}

.services__row_second .services__item_text {
    transform: translateX(-25%);
}


@media(max-width:550px) {
    .services__row {
        flex-direction: column-reverse;
    }

    .services__item_text {

        transform: translate(0);
    }

    .services__row_second .services__item_text {

        transform: translate(0);
    }

    
    .services__item_text  {
        position: relative;
        z-index: 2;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .services__item_img {
        transform: translateY(10%);
        width: 100%;
    }

    .services__row:first-child {
        margin-top: 0;
    }
}