.swiper-pagination-bullet {
    background-color: $darkBrown;
    opacity: 1;
}


.swiper-pagination-bullet-active {
    background-color: $lightBrown;
    opacity: 1;
}


.swiper-button-next,
.swiper-button-prev {
    color: $lightBrown;
    background-color:  #fde8cd2f;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all .35s;
}



.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: lighten($lightBrown, 5%);
    background-color:  #fde8cd44;
   
}

.swiper-button-next:after, .swiper-button-prev:after {
 font-size: 18px;
}

.swiper-slide img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
    height: 300px;
    width: 100%;
}



.swiper-container-cube .swiper-cube-shadow {
    opacity: .15;
}

@media(max-width:767px) {
    .swiper-slide img {
        max-width: 100%;

    }

    .swiper-slide img {
        width: 100%;
    }
}

@media(max-width:520px) {
    .swiper-slide img {
        height: 260px;
    }
}

@media(max-width:420px) {
    .swiper-slide {
        max-height: 280px;
        border-radius: 10px;
    }
}