.swiper-pagination-bullet {
    background-color: $darkBrown;
    opacity: 1;
}


.swiper-pagination-bullet-active {
    background-color: $lightBrown;
    opacity: 1;
}


.swiper-button-next,
.swiper-button-prev {
    color: $lightGreen;
}

.swiper-slide img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
    height: 300px;
    width: 500px;
}

.swiper-slide img {
    max-width: 85%;

}

.swiper-container-cube .swiper-cube-shadow {
    opacity: .15;
}

@media(max-width:767px) {
    .swiper-slide img {
        max-width: 90%;

    }

    .swiper-slide img {
        width: 100%;
    }
}

@media(max-width:520px) {
    .swiper-slide img {
        height: 260px;
    }
}

@media(max-width:420px) {
    .swiper-slide {
        max-height: 280px;
        border-radius: 10px;
    }
}