.section-houses {
    padding: 50px 0;
}

.houses {
    margin-top: 30px;
}




.single-house__item_slider {
    position: relative;
    max-width: 60%;
}

.single-house__item_slider .swiper-slide img {
    height: 400px;
}

.single-house {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $lightBrown;
    padding: 50px 25px;
    border-radius: 10px;
}

.single-house__item_text {
    margin-right: auto;
    max-width: 320px;
}

.single-house__title {
    font-size: 2rem;
}

.single-house__list {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 10px;
}

.single-house__sub-list {
    margin-left: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.swiper-button-prev-houses,
.swiper-button-next-houses {
    color: $lightBrown;
    font-size: 15px;
    background-color: $lightGreen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;


}

.swiper-slide {
    border-radius: 10px;
}


.swiper-button-prev-houses::after,
.swiper-button-next-houses::after {
    color: $lightBrown;
    font-size: 18px;
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev-houses {
    transform: translateX(-10px);
}

.swiper-button-next-houses {
    transform: translateX(10px);
}

.swiper-button-prev-houses:hover,
.swiper-button-next-houses:hover {
    background-color: $darkGreen;
}

.swiper-container-houses {
    padding: 0 50px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}



.swiper-container-home {
    max-height: 360px;
    overflow: hidden;
    border-radius: 10px;
}




@media(min-width:768px) {
    .swiper-container-home .swiper-button-next {
      
        color: $lightBrown;
        top: auto;
        bottom: -20px;
        right: 50%;
        left: auto;
        transform: rotate(90deg) translateY(-50%);
        background-color: $lightGreen;
    }

    .swiper-container-home .swiper-button-next:hover {
        background-color: $darkGreen;
    }

    .swiper-container-home .swiper-button-prev {
        color: $lightBrown;
        top: -5px;
        left: 50%;
        right: auto;
        transform: rotate(90deg) translateY(50%);
        background-color: $lightGreen;
    }

    .swiper-container-home .swiper-button-prev:hover {
        background-color: $darkGreen;
    }
}

@media(max-width:768px) {
    .single-house {
        flex-direction: column;
    }

    .single-house__list {
        margin-bottom: 25px;
    }

    .single-house__item_slider {
        max-width: 100%;
        margin-top: 30px;
    }
}

@media(max-width:550px) {
    .swiper-container-houses {
        padding: 0 25px;
    }

    .swiper-button-prev-houses,
    .swiper-button-next-houses {
        width: 40px;
        height: 40px;
    }

    .single-house {
        padding: 20px;
    }

    .single-house__sub-list {
        margin-left: 10px;
    }

    .single-house__item_slider .swiper-slide img {
        height: 320px;
    }
}