html,
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: darken($darkBrown, 5%)
}

@media(max-width: 1024px) {

    html,
    body {
        font-size: 15px;
    }
}

@media(max-width: 600px) {

    html,
    body {
        font-size: 14px;
    }
}


h1,
h2,
h3,
h5,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

.main-h2 {
    text-align: center;
    font-size: 2.4rem;
}

.main-h2__sub-title {
    display: block;
    text-align: center;
    margin-top: 10px;
}